<p id="notice"><%= notice %></p>

<h1>Slab Project Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Execution at</th>
      <th>Slab project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slab_project_tasks.each do |slab_project_task| %>
      <tr>
        <td><%= slab_project_task.name %></td>
        <td><%= slab_project_task.description %></td>
        <td><%= slab_project_task.status %></td>
        <td><%= slab_project_task.execution_at %></td>
        <td><%= slab_project_task.slab_project_id %></td>
        <td><%= link_to 'Show', slab_project_task %></td>
        <td><%= link_to 'Edit', edit_slab_project_task_path(slab_project_task) %></td>
        <td><%= link_to 'Destroy', slab_project_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slab Project Task', new_slab_project_task_path %>
